<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>美股公告管理</string>
	<key>CFBundleDisplayName</key>
	<string>美股公告管理</string>
	<key>CFBundleIdentifier</key>
	<string>com.user.usstockintel.manage</string>
	<key>CFBundleExecutable</key>
	<string>launch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.user.usstockintel.manage</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>usstockintel</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
